
.body{
    /* padding: 40px; */
    background-image: url("bg.jpg");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
form > input{
    margin-top: 20px;
}
form{
    width: 60vw;
}
.text-center > h3{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 40px;
}
.main{
    padding: 40px;
}
